@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap');

/* Resete CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
}