@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700;900&display=swap');

/* Resete CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    background-color: #000;
    color: #fff;
    font-size: 1.6rem;
}

/* HEADER Banner */
.banner {
    height: 60.5rem;
    /* Seta uma imagem no bg com duas cores de fundo com transparência  */
    background-image: url("../images/banner.png"), linear-gradient(rgba(0, 0, 0, 0.6), rgba(49, 168, 221, 0.2), rgba(0, 0, 0, 0.6));

    display: flex;
    align-items: center;

    border-bottom: .1rem solid #33A8DB;
}

.banner-content {
    width: 60rem;
    text-align: center;
    margin: 0 auto;
}

.banner-content .logo {
    width: 26.8rem;
    height: 26.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
}

.banner-content .logo img {
    max-width: 24.8rem;
    max-height: 21.4rem;
}

.banner-content h1 {
    width: 43.4rem;
    height: 4.7rem;
    font-size: 4rem;
    font-weight: 900;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 4.696rem;
    font-weight: 900;

    /* Define um degradê como fundo */
    background-image: linear-gradient(#33A8DB, #1472B7);

    /* Apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text;
    /* Alguns navegadores precisam do prefixo */

    /* Apaga o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;

    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: #000;

    margin: 1rem auto;

}

.banner-content p {
    width: 100%;
    height: 4.6rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.348rem;
}

.btn {
    display: inline-block;
    color: #31A8DD;
    font-size: 1.6rem;
    line-height: 1.878rem;
    font-weight: 900;
    text-transform: uppercase;

    border-image: linear-gradient(#3BA1CD, #1572B7);
    border: .2rem solid;

    padding: 1.9rem 9.1rem;
    margin: 2rem 0;
}


/* MAIN */
/* Seção 1 */
main #course-content {
    width: 79.2rem;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
}

main #course-content h2 {
    width: max-content;
    color: #33A8DB;
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 3.757rem;

    margin-bottom: 2rem;
}

main #course-content p {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.module-list .module {
    max-width: 100%;
    background-color: #252525;
    font-size: 1.6rem;
    text-align: center;
    border: .1rem solid #33A8DB;
    border-radius: 5.7rem;

    box-shadow: inset -0.2rem .6rem .5rem #000;

    padding: 1.6rem 12.7rem;
    margin-top: 2rem;
}

.module-list .module span {
    color: #33A8DB;
}

main #transform-world {
    width: 100%;
    height: 36.3rem;
    background-image: url("../images/woman-code.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*Permite criar o efeito paralax*/

    border: .1rem solid #33A8DB;

    position: relative;
}

main #transform-world p {
    width: 24.4rem;
    height: 14.1rem;
    font-size: 4rem;
    text-shadow: .3rem .2rem 0 #33A8DB;
    font-weight: 900;
    line-height: 4.696rem;

    position: absolute;
    top: 10rem;
    left: 10rem;
}


main #professional-challenges {
    text-align: center;
    padding: 8rem 0;
}

#professional-challenges h2 {
    width: 74.6rem;
    height: 7.6rem;
    color: #33A8DB;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 3.757rem;
    text-transform: uppercase;
    margin: 0 auto;
}

#professional-challenges img {
    max-width: 65.9rem;
    max-height: 42.9rem;
    margin: 2rem 0;
}

#professional-challenges p {
    width: 79.2rem;
    height: 7.6rem;
    font-size: 1.6rem;
    font-family: 400;
    line-height: 1.878rem;
    margin: 0 auto;
}